
<form action="" method="post">
    <table class="table">
        <tr>

            <td>
                <input class="h-16 pl-2 w-full" value="@Model.Name" name="Name" /><br />
                <span class="text-sm text-red-500">

                </span>
            </td>
            <td>
                <input class="h-16 pl-2 w-full" value="@Model.PreReq" placeholder="Enter pre-requisite id" name="PreReq" /><br />
                <div class="text-sm text-red-500">

                </div>
            </td>
            <td class="px-4 font-semibold"><button class="text-white w-full py-3 px-4 bg-[#00b843] rounded-lg shadow-xl">ADD</button></td>
        </tr>


    </table>
</form>